article
{
	float: left;
	width: 95%;
	margin-left: 3%;
	margin-right: 2%;
}

header
{
	background: #fff;
}
h1
{
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 32pt;
	color: #2e7bcf;
	margin-top: 0px;
	margin-bottom: 0px;
	width: calc(100% - 135px);
}
header h1
{
	padding-top: 20px;
    padding-bottom: 20px;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 42pt;
	color: #2e7bcf;
	text-align: center;
	margin: 0 auto 0 auto;
}

h2{
	/*padding-bottom: 20px;*/
	/*border-bottom: 3px solid #dddddd;*/
	/*width: 100%;*/
}
h3{
	padding-bottom: 3px;
}
h4{
	padding-bottom: 3px;
	margin-bottom: 0px;
	font-size: 1.2rem;

	/*padding-right: 0px;
	margin-left: -1.5em;
	content: "";
	color: #9ddcff;*/
}
h4:before{
	padding-right:.3em;
	margin-left:-1em;

	/*margin-left:-2.8em;*/
	content:"";
	color:#9ddcff;
}

p article
{
	margin-left: 1.66%;

}



div.moving{
	/*margin-left: 0px;
	margin-top: 15px;
	margin-bottom: 15px;*/
	font-weight: 700;
	vertical-align: baseline;
	
}

.empty
{
	margin: 0 0 0 0;
	color: transparent;	
	font-size: 0;
}

img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.subsec{
	padding-left: 15px;
	border-left: solid #dddddd 3px;
	/*border-bottom: solid #dddddd 2px;*/
}

.theoreme{
	font-style: italic;
}

#margintop25{
	margin-top: 25px;
	padding-bottom: 0px;
}
#padding0{
	padding-bottom: 0px;
	padding-top: 0px;
}

#teoria, #erros, #restricoes, #parametros, #exemplo, #more{
	display: none;
}


footer{
	font-size: 0.7rem;
	padding: 0.5rem 0rem 0.5rem 0rem;
	width: 100%;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	margin-bottom: 0rem;
	margin-left: 1rem;
}

footer p{
	margin-bottom: 0;
}